<div class="row-fluid">
	<div class="span4 box">
		<h4>NEED HELP</h4>
		If you require any additional information about any product before you place an order, call us at
		<br>
		+971 4 2231520 ext 224
		<br>
		<br>
		You can also write to 
        Info@lootahpremiumfoods.ae
		<br>
		for any issues related to our online purchase or past orders.
	</div>
	<div class="shop-quote-receipt span8">
		<h1>Thank you for your order</h1>
		<p class="error">{module_error}</p>
		<p>
			Thank you for your enquiry. One of our representatives will contact you shortly.
		</p>
		<p><strong>Your order number is: {tag_orderid}</strong>. You may need to refer your order number should you wish to make any modifications to your purchase by calling our customer service.</p>
	</div>

</div>