<div id="main">
<p class="description">{tag_blogdescription}</p>
<div class="post-list">     {tag_postlist,2}
<p class="page-nav">{tag_previouspage} {tag_pagination} {tag_nextpage}</p>
</div>
</div>
<!-- End Main Body -->
<div id="aside">
<div id="sub-nav">
<strong>Recent Posts</strong>
{tag_blogrecentpost}
<strong>Tags</strong>
{tag_blogtaglist}
<strong>Archive</strong>
{tag_blogpostarchive}
</div>
<!-- End Sub Nav -->
</div>
<!-- End Aside-->
<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>
