/****************************************************************
   IE7 STYLE SHEET
   By: HotPress Web
   Created: May 2011
*****************************************************************/

/* Shopping Cart Link in Utility Nav*/
td.defaultcart {
	width: 85px;
}	



/* Ecommerce */

.product-description{
	width: 390px;	
}