<div class="announcements-list">
<h3>{tag_subject}</h3>
<p class="dates"><em><span class="start">{tag_eventfromdate}</span> <span class="to">to</span> <span class="end">{tag_eventtodate}</span></em></p>
<p>{tag_body}</p>
<ul class="social-links">
    <li>{module_twittertweet, moduleTemplateGroup="", language="en",  url="http://hpwtemplate001.hotpressplatform.com{tag_announcementurl_value}", count="horizontal", text="", via="", related="",  countUrl=""}</li>
    <li>{module_facebooklike, moduleTemplateGroup="", language="en_US",  url="http://hpwtemplate001.hotpressplatform.com{tag_announcementurl_value}", layout="", showFaces="false", width="450", verb="like", font="", colorScheme=""}</li>
</ul>
<a class="dis-count" href="http://hpwtemplate001.hotpressplatform.com{tag_announcementurl_value}#disqus_thread">Comments</a>
</div>
<hr />
