<div style="background-color: #cccccc; padding: 5px;">{tag_postdate}</div>
<table style="width: 100%;">
    <tbody>
        <tr>
            <td style="width: 15%; vertical-align: top;">
            <div style="padding: 5px;">{tag_postauthoralias}</div>
            <div style="padding: 5px;">{tag_avatar,/_assets/img/avatar.png,55,55}</div>
            <div style="padding: 5px;">Posts: {tag_totalauthorposts}</div>
            </td>
            <td style="width: 85%; vertical-align: top;">
            <div style="padding: 5px;">{tag_postmessage}</div>
            </td>
        </tr>
        <tr>
            <td style="width: 15%; vertical-align: top;">
            </td>
            <td style="width: 85%; vertical-align: top;">
            <div style="background-color: #f1f1f1; padding: 5px; text-align: right;">{tag_replypostlink}</div>
            </td>
        </tr>
    </tbody>
</table>
